In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
base_dir = '/Users/vivekhsridhar/Library/Mobile Documents/com~apple~CloudDocs/Documents/Code/Python/SpatialRegistration/io/'
filename = '20230302_SM_Lek1_P3D5_DJI_0152'

In [3]:
df = pd.read_csv(base_dir + filename + '_Anchored_mapping.csv')
df.columns = ['frame', 'x', 'y', 'idx', 'best_anchor_frame', 'u', 'v', 'Point', 'Distance']
df.head()

,frame,x,y,idx,best_anchor_frame,u,v,Point,Distance
0,0,587.034,30.543,561,0.0,587.034,30.543,58,30.883608
1,0,173.973,52.284,562,0.0,173.973,52.284,111,8.224935
2,0,1462.377,92.283,563,0.0,1462.377,92.283,61,27.636978
3,0,2926.521,108.162,564,0.0,2926.521,108.162,51,18.869394
4,0,2321.244,416.046,565,0.0,2321.244,416.046,50,15.070320

In [4]:
df['Camera'] = filename[:31] + '_frame' + df['best_anchor_frame'].astype(int).astype(str)
df['video'] = filename[:31]

# df = df.loc[df['frame'] == df['best_anchor_frame'],:]
df = df.loc[:,['Point', 'Camera', 'video', 'frame', 'best_anchor_frame', 'u', 'v']]
df.head()

,Point,Camera,video,frame,best_anchor_frame,u,v
0,58,20230302_SM_Lek1_P3D5_DJI_0152_frame0,20230302_SM_Lek1_P3D5_DJI_0152,0,0.0,587.034,30.543
1,111,20230302_SM_Lek1_P3D5_DJI_0152_frame0,20230302_SM_Lek1_P3D5_DJI_0152,0,0.0,173.973,52.284
2,61,20230302_SM_Lek1_P3D5_DJI_0152_frame0,20230302_SM_Lek1_P3D5_DJI_0152,0,0.0,1462.377,92.283
3,51,20230302_SM_Lek1_P3D5_DJI_0152_frame0,20230302_SM_Lek1_P3D5_DJI_0152,0,0.0,2926.521,108.162
4,50,20230302_SM_Lek1_P3D5_DJI_0152_frame0,20230302_SM_Lek1_P3D5_DJI_0152,0,0.0,2321.244,416.046

In [5]:
df.to_csv('/Users/vivekhsridhar/Library/Mobile Documents/com~apple~CloudDocs/Documents/Code/Python/SpatialRegistration/io/test_territories_uv.csv')