In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
base_dir = '/Users/vivekhsridhar/Library/Mobile Documents/com~apple~CloudDocs/Documents/Code/Python/SpatialRegistration/io/'
filename = '20230310_SE_Lek1_P1D1_DJI_0190_YOLO'

In [3]:
df = pd.read_csv(base_dir + filename + '_Anchored_mapping.csv')
df.columns = ['frame', 'x', 'y', 'idx', 'best_anchor_frame', 'u', 'v', 'Point', 'Distance']
df.head()

,frame,x,y,idx,best_anchor_frame,u,v,Point,Distance
0,0,3231.399,58.680,43424,0.0,3231.399,58.680,9,15.856072
1,0,1596.498,174.696,43425,0.0,1596.498,174.696,94,14.735338
2,0,3602.919,276.867,43426,0.0,3602.919,276.867,91,20.311450
3,0,2578.536,318.834,43427,0.0,2578.536,318.834,7,33.535319
4,0,1220.571,437.763,43428,0.0,1220.571,437.763,11,16.536602

In [4]:
df['Camera'] = filename[:31] + 'frame' + df['best_anchor_frame'].astype(int).astype(str)
df['video'] = filename[:31]

# df = df.loc[df['frame'] == df['best_anchor_frame'],:]
df = df.loc[:,['Point', 'Camera', 'video', 'frame', 'best_anchor_frame', 'u', 'v']]
df.head()

,Point,Camera,video,frame,best_anchor_frame,u,v
0,9,20230310_SE_Lek1_P1D1_DJI_0190_frame0,20230310_SE_Lek1_P1D1_DJI_0190_,0,0.0,3231.399,58.680
1,94,20230310_SE_Lek1_P1D1_DJI_0190_frame0,20230310_SE_Lek1_P1D1_DJI_0190_,0,0.0,1596.498,174.696
2,91,20230310_SE_Lek1_P1D1_DJI_0190_frame0,20230310_SE_Lek1_P1D1_DJI_0190_,0,0.0,3602.919,276.867
3,7,20230310_SE_Lek1_P1D1_DJI_0190_frame0,20230310_SE_Lek1_P1D1_DJI_0190_,0,0.0,2578.536,318.834
4,11,20230310_SE_Lek1_P1D1_DJI_0190_frame0,20230310_SE_Lek1_P1D1_DJI_0190_,0,0.0,1220.571,437.763

In [5]:
df.to_csv('/Users/vivekhsridhar/Library/Mobile Documents/com~apple~CloudDocs/Documents/Code/Python/SpatialRegistration/io/test_territories_uv.csv')